.bg {
  min-height: 100vh;
  padding: 10px;
  margin: 0px;
  -webkit-backdrop-filter: blur(10px) brightness(110%);
  backdrop-filter: blur(10px) brightness(110%);
  background-color: #eee;
  box-shadow: 0px 3px 10px -2px #0004 inset;
}

label {
  padding: 3px;
  position: relative;
  left: 20px;
  line-height: 2em;
}

input {
  position: relative;
  left: 20px;
  box-shadow: 0px 2px 5px 2px #0002;
  border-radius: 5px;
  border: 3px solid #ccc;
  transition: all 0.3s;
  accent-color: #d91;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input[type="checkbox"] {
  border-radius: 100%;
}

input:hover {
  box-shadow: 0px 3px 10px 4px #0004;
  border-color: #bbb;
}

select {
  position: relative;
  left: 30px;
  box-shadow: 0px 2px 5px 2px #0002;
  border-radius: 5px;
  border: 3px solid #ccc;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s;
}

select:hover {
  box-shadow: 0px 3px 10px 4px #0004;
  border-color: #bbb;
}

button {
  position: relative;
  left: 30px;
  font-size: 1.1em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px 2px #0002;
  border-radius: 100px;
  border: 3px solid #ccc;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 0px 3px 10px 4px #0004;
  border-color: #bbb;
}

.card {
  box-shadow: 0px 2px 10px 2px #0008;
  padding: 25px;
  margin: 5px;
  border-radius: 25px;
  border: 5px solid #ccc;
  background-color: #eee;
  transition: all .3s;
}

.card:hover {
  box-shadow: 0px 4px 18px 2px #0008;
  border: 5px solid #c0c0c0;
}

.centeredmax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.listitem {
  background-color: #ddd;
  min-height: 12px;
  list-style-type: none;
  margin: 5px;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  border: 5px solid #ccc;
  box-shadow: 0px 2px 5px 2px #0004;
  transition: all 0.3s;
}

.listitem:hover {
  border-color: #bbb;
  cursor: pointer;
  box-shadow: 0px 2px 10px 2px #0008;
}

.listitem:active {
  border-color: #ddd;
  cursor: pointer;
  box-shadow: 0px 2px 10px 2px #0008 inset;
}
