.bg {
  min-height: 100vh;
  padding: 10px;
  margin: 0px;
  -webkit-backdrop-filter: blur(10px) brightness(110%);
  backdrop-filter: blur(10px) brightness(110%);
  background-color: #eee;
  box-shadow: 0px 3px 10px -2px #0004 inset;
  perspective: 300px;
}

.bg::selection {
  background-color: black;
  color: white;
}

label {
  padding: 3px;
  position: relative;
  left: 20px;
  line-height: 2em;
}

label::selection {
  background-color: black;
  color: white;
}

input {
  position: relative;
  left: 20px;
  box-shadow: 0px 2px 5px 2px #0002;
  border-radius: 5px;
  border: 3px solid #ccc;
  transition: all 0.3s;
  accent-color: #d91;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input::selection {
  background-color: black;
  color: white;
}

input[type="checkbox"] {
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  transform-style: preserve-3d;
  transition: all 0.3s;
}

input:hover {
  box-shadow: 0px 3px 10px 4px #0004;
  transform: translate3d(0px,0px,5px);
  border-color: #bbb;
}

select {
  position: relative;
  left: 30px;
  box-shadow: 0px 2px 5px 2px #0002;
  border-radius: 5px;
  border: 3px solid #ccc;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform-style: preserve-3d;
  transition: all 0.3s;
}

select::selection {
  background-color: black;
  color: white;
}

select:hover {
  box-shadow: 0px 3px 10px 4px #0004;
  border-color: #bbb;
  transform: translate3d(0px,0px,5px);
}

button {
  position: relative;
  left: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px 2px #0002;
  border-radius: 15px;
  border: 3px solid #ccc;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  transform-style: preserve-3d;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 0px 3px 10px 4px #0004;
  border-color: #bbb;
  transform: translate3d(0px,0px,5px);
}

button::selection {
  background-color: black;
  color: white;
}

.card {
  box-shadow: 0px 2px 10px 2px #0008;
  padding: 25px;
  margin: 5px;
  border-radius: 25px;
  border: 5px solid #ccc;
  background-color: #eee;
  transition: all .3s;
}

.card::selection {
  background-color: black;
  color: white;
}

.card:hover {
  box-shadow: 0px 4px 18px 2px #0008;
  border: 5px solid #c0c0c0;
  transform: translate3d(0px,0px,5px);
}

.centeredmax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.listitem {
  background-color: #ddd;
  min-height: 12px;
  list-style-type: none;
  margin: 5px;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  border: 5px solid #ccc;
  box-shadow: 0px 2px 5px 2px #0004;
  transform-style: preserve-3d;
  transition: all 0.3s;
}

.listitem::selection {
  background-color: black;
  color: white;
}

.listitem:hover {
  border-color: #bbb;
  cursor: pointer;
  box-shadow: 0px 2px 10px 2px #0008;
  transform: translate3d(0px,0px,5px);
}

.listitem:active {
  border-color: #ddd;
  cursor: pointer;
  box-shadow: 0px 2px 10px 2px #0008 inset;
  transform: translate3d(0px,0px,-2px);
}

ol {
  perspective: 300px;
}

.icon-r {
  background-color: #cfc;
  border: 3px solid #beb;
}
.icon-b {
  background-color: #ffc;
  border: 3px solid #eeb;
}
.icon-f{
  background-color: #fcc;
  border: 3px solid #ebb;
}
.icon-f, .icon-b, .icon-r {
  display: inline-flex;
  width: 0.7em;
  height: 0.7em;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  bottom: 50%;
}

.tooltip {
  visibility: hidden; /* Hidden by default */
  min-width: 130px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  font-size: 0.9em;
  padding: 5px 0;
  border-radius: 6px 6px 6px 0px;
  position: absolute;
  left: 100%;
  bottom: 50%;
  z-index: 999; /* Ensure tooltip is displayed above content */
}
.icon-r:hover .tooltip {
  visibility: visible;
}
.icon-b:hover .tooltip {
  visibility: visible;
}
.icon-f:hover .tooltip {
  visibility: visible;
}

li {
  position: relative;
}

li::selection {
  background-color: black;
  color: white;
}
